<html>
<head>
<link rel="stylesheet" href="/css/bootstrap.min.css"  type="text/css">
</head>

<body>

<h2>Entrega Semana 2</h2>
<form action="inscribir_aspirante" method="post">
        {{{cursos_inscripcion inscribir}}}
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>


<script src="js/jquery.min.js"></script>
<script src="js/popper.min.js"></script>
<script src="js/bootstrap.min.js"></script>

</body>
</html>