<html>
<head>
<link rel="stylesheet" href="/css/bootstrap.min.css"  type="text/css">
</head>

<body>
{{{alerta tipo mensaje}}}
{{{nombre usuario}}}
<form action="inscribir_aspirante" method="post">
        {{{cursos_inscripcion inscribir}}}
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
<button onclick="location.href='/'" class="btn btn-primary">Salir</button>


<script src="js/jquery.min.js"></script>
<script src="js/popper.min.js"></script>
<script src="js/bootstrap.min.js"></script>

</body>
</html>