

<html>
<head>
<link rel="stylesheet" href="/css/bootstrap.min.css"  type="text/css">
</head>

<body>
{{{alerta tipo mensaje}}}
<div>
{{{nombre usuario}}}
<button onclick="location.href='/'" class="btn btn-primary">Salir</button>
</div>
 <div class="col-4">
          <div class="list-group" id="list-tab" role="tablist">
            <a class="list-group-item list-group-item-action active" id="Crear_curso" data-toggle="list" href="#list-home" role="tab" aria-controls="home">Crear cursos</a>
            <a class="list-group-item list-group-item-action" id="Ver_inscritos" data-toggle="list" href="#list-profile" role="tab" aria-controls="profile">Ver inscritos</a>
          </div>
        </div>
        <div class="col-8">
          <div class="tab-content" id="nav-tabContent">
            <div class="tab-pane fade show active" id="list-home" role="tabpanel" aria-labelledby="Crear_curso">
             
              <form action="/Crear_curso" method="post">
                  <div class="form-group">
                    <label for="exampleInputEmail1">Nombre del curso</label>
                    <input type="text" class="form-control" id="exampleInputEmail1" name = "nombre" placeholder="Ingrese Nombre del curso" required>
                  </div>
                  <div class="form-group">
                    <label for="exampleInputPassword1">Id</label>
                    <input type="text" class="form-control" id="exampleInputPassword1" name="id" placeholder="Ingrese Id" required>
                  </div>
                  <div class="form-group">
                    <label for="exampleInputEmail1">Descripcion</label>
                    <input type="text" class="form-control" id="exampleInputEmail1" name="descripcion" placeholder="Ingrese Descripcion" required>
                  </div>
                  <div class="form-group">
                    <label for="exampleInputEmail1">Valor</label>
                    <input type="number" class="form-control" id="exampleInputEmail1" name = "valor" placeholder="Ingrese Valor" required>
                  </div>
                  <div class="form-group">
                  <label for="exampleInputEmail1">Modalidad (opcional)</label>
                  <select class="custom-select" name = "modalidad">
                  <option selected>-</option>
                  <option value="Virtual">Virtual</option>
                  <option value="Presencial">Presencial</option>
                  </select>
                  </div>
                  <div class="form-group">
                    <label for="exampleInputEmail1">Intensidad Horaria (opcional)</label>
                    <input type="number" class="form-control" id="exampleInputEmail1" name = "intensidad" placeholder="Ingrese Intensidad Horaria" value="na">
                  </div>
                  <button type="submit" class="btn btn-primary">Enviar</button>
            </form>
            </div>
            <div class="tab-pane fade" id="list-profile" role="tabpanel" aria-labelledby="Ver_inscritos">{{{ver_inscritos inscritos}}}</div>
          </div>
          </div>
        </div>



<script src="js/jquery.min.js"></script>
<script src="js/popper.min.js"></script>
<script src="js/bootstrap.min.js"></script>

</body>
</html>