


<html>
<head>
<link rel="stylesheet" href="/css/bootstrap.min.css"  type="text/css">
</head>

<body>

<h2>Entrega Semana 2</h2>
{{{listar Listado}}}


<button onclick="location.href='/'" class="btn btn-primary">Salir</button>
<script src="js/jquery.min.js"></script>
<script src="js/popper.min.js"></script>
<script src="js/bootstrap.min.js"></script>

</body>
</html>